body {
  background-color: gainsboro;
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 326px;
}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid rgb(5, 4, 4);
  font-size: 64px;
  text-align: center;
}
